@import url(https://fonts.googleapis.com/css?family=Exo:100);

body {
    padding:0;
    margin:0;
    overflow:hidden;

}
canvas {
    padding:0;
    margin:0;
}
div.btnbg {
    position:fixed;
    left:0;
    top:0;
}

.logo-image{

	position:relative !important;
}

.logoImg{

	position:absolute !important;
	width:40%;
	margin:5% 40% 0 40%;
}

.logincomnae{
	position:absolute !important;
	font-family: 'Exo', sans-serif;
	z-index:999999999;
	/*text-align:center;*/
	padding:0 0 0 16% !important;
	font-size:24px;
	color:#fff;
	width: 100%;	
}
.logincomnae2{
	position:absolute !important;
	font-family: 'Exo', sans-serif;
	z-index:999999999;
	/*text-align:center;*/
	padding:2% 0 0 16% !important;
	font-size:14px;
	color:#fff;
	width: 100%;	
}
.logincomnae3{
	position:absolute !important;
	font-family: 'Exo', sans-serif;
	z-index:999999999;
	/*text-align:center;*/
	padding:6% 0 0 16% !important;
	font-size:14px;
	color:#fff;
	width: 100%;
}
.logincomnae4{
	position:absolute !important;
	font-family: 'Exo', sans-serif;
	z-index:999999999;
	/*text-align:center;*/
	padding:10.5% 0 0 16% !important;
	font-size:14px;
	color:#fff;
	width: 100%;	
}

.logincomnae5{
	position:absolute !important;
	font-family: 'Exo', sans-serif;
	z-index:999999999;
	text-align:center;
	font-size:14px;
	color:#fff;
	width: 100%;
    top: 80%;	
}'

body.bg-gradient-primary-new{
    background-color: #88878a !important;
}

.company-name{
	width:100%;
	position:absolute !important;
	z-index:999999999;
    top:60%;	
}


.shadow-lg {
    -webkit-box-shadow: 0 1rem 3rem rgba(0,0,0,1)!important;
    box-shadow: 0 1rem 3rem rgba(0,0,0,1)!important;
}

.custom-checkbox{
	position:relative;
	z-index:999999999999999;
}

input,select{
	cursor:pointer;
}

form.user .btn-user {
    font-size: 14px;
    border-radius: 10rem;
    padding: .75rem 1rem;
	color: #000;
	font-weight: 700;
    text-transform: uppercase;
}